# Byte-compiled python files
__pycache__/
*.py[cod]

# Logs and temp files
*.log
*.tmp
*.swp

# OS junk
.DS_Store
Thumbs.db

# Project data outputs
analyze_results/
data/
masks/
model/
outputs_models/
predictions.csv

# Jupyter notebooks
*.ipynb

# Visual Studio / VS Code local settings
.vs/

# Predictions outputs
predictions/

資料集/
